<div class="payone-payment payone-payment--klarna" data-payone-payment-klarna data-payone-payment-klarna-options='{
    "clientToken": "{{ page.extensions.payone.klarnaSessionStruct.clientToken }}",
    "paymentMethodIdentifier": "{{ page.extensions.payone.klarnaSessionStruct.paymentMethodIdentifier }}",
    "sessionStruct": {{ page.extensions.payone.klarnaSessionStruct|json_encode() }},
    "sessionStruct": {{ page.extensions.payone.klarnaSessionStruct|json_encode() }},
    "selectorContainer": "#payone-payment--klarna__container",
    "selectorTokenInput": "input[name=payoneKlarnaAuthorizationToken]",
    "selectorFormId": "confirmOrderForm"
}'>
    <div id="payone-payment--klarna__container"></div>
    <input type="hidden" name="payoneKlarnaAuthorizationToken" form="confirmOrderForm"/>
</div>
