<div class="payone-payment payone-payment--klarna" data-payone-payment-klarna data-payone-payment-klarna-options='{
    "selectorContainer": "#payone-payment--klarna__container",
    "selectorTokenInput": "input[name=payoneKlarnaAuthorizationToken]",
    "selectorFormId": "confirmOrderForm",
    "selectorConfirmKlarnaUsageContainerId": "confirmKlarnaUsage__container",
    "selectorConfirmKlarnaUsageId": "confirmKlarnaUsage"
}'>
    <div id="confirmKlarnaUsage__container" class="confirmKlarnaUsage__container">
        <p>{{ 'PayonePayment.klarna.klarnaUsageConfirm.text' | trans }}</p>
        <button id="confirmKlarnaUsage" class="btn btn-light">{{ 'PayonePayment.klarna.klarnaUsageConfirm.buttonText' | trans }}</button>
    </div>
    <div id="payone-payment--klarna__container"></div>
    <input type="hidden" name="payoneKlarnaAuthorizationToken" form="confirmOrderForm"/>
</div>
