{% if context.customer.activeBillingAddress and context.customer.activeBillingAddress.company is empty %}
    <div class="payone-payment open-invoice">
        <input type="hidden" id="payoneCsrfTokenOpenInvoiceValidation"
               value="{{ sw_csrf('frontend.payone.openInvoice.validate', {'mode': 'token'}) }}">

        {% block page_checkout_confirm_payone_card_title_open_invoice %}
            <div class="card-title">
                {{ "PayonePayment.openInvoice.cardTitle" | trans }}
            </div>
        {% endblock %}

        {% block page_checkout_confirm_payone_card_content_open_invoice %}
            {% sw_include '@Storefront/storefront/payone/open-invoice/birthDay.html.twig' with {
                style: 'wide'
            } %}
        {% endblock %}
    </div>
{% endif %}
