{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{# shopware-block: f976d2078c57fde4d52b72805fd6e3c3303ef6ee7bd62e27e5309aefd6eb75b8@v6.6.10.5 #}
{% block page_checkout_finish_order_payment_method %}
    {{ parent() }}

    {% if page.order and page.order.transactions and page.order.transactions.last %}
        {% set payoneData = page.order.transactions.last.getExtension('payonePaymentOrderTransactionData') %}
        {% if payoneData and payoneData.mandateIdentification %}
            <p>
                <strong>{{ "PayonePayment.checkoutFinishPage.mandateIdentification"|trans|sw_sanitize }}:</strong>
                {{ payoneData.mandateIdentification }}
            </p>
        {% endif %}
    {% endif %}

{% endblock %}
