{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{% block page_checkout_finish_order_payment_method %}
    {{ parent() }}

    {% if page.order and page.order.transactions and page.order.transactions.last %}
        {% set payoneData = page.order.transactions.last.getExtension('payonePaymentOrderTransactionData') %}
        {% if payoneData and payoneData.mandateIdentification %}
            <p>
                <strong>{{ "PayonePayment.checkoutFinishPage.mandateIdentification"|trans|sw_sanitize }}:</strong>
                {{ payoneData.mandateIdentification }}
            </p>
        {% endif %}
    {% endif %}

{% endblock %}
