@import "~scss/variables";

.payone-feedback {
    &__col {
        padding: 0 10px;
        text-align: center;
        border-left: 1px solid #888;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__icon {
        margin-bottom: 25px;

        .mt-icon.mt-icon--large {
            width: 50px;
            height: 50px;
        }
    }

    & &__col:first-child {
        border-left: none;
    }

    & &__desc {
        font-size: 1.1em;
        letter-spacing: .75px;
        margin-bottom: 25px;
    }
}

.payone-config__wrapper {
    .mt-card {
        .payone-config__collapsible-container {
            text-align: right;

            &:not(.collapsed) {
                margin-bottom: 22px;
            }
        }

        .payone-config__collapsible-handle {
            cursor: pointer;
            color: $color-darkgray-200;

            border: 1px solid $color-gray-300;
            border-radius: $border-radius-default;

            display: inline-block;
            width: 28px;
            height: 28px;
            line-height: 0;
            padding: 5px;

            &:hover {
                background-color: $color-shopware-brand-50;
            }
        }
    }
}

.payone-config-reaload__btn {
    margin: 15px 0;
}
