.idea
.env.*.local
.task
node_modules
psalm-report.html
/*.zip
/.env
/.env.*
/CHANGELOG_*.md
/composer.json.dist
/composer.lock
/composer.lock.dist
/install.lock
/phpstan.neon
/dev-ops/.env.local
/dev-ops/composer-test.json
/dev-ops/composer-test.lock
/dev-ops/*/composer.lock
/dev-ops/*/vendor
/dev-ops/phpunit/phpunit.xml.dist.*
/dev-ops/phpunit/skel/config/jwt
/dev-ops/psalm/junit.xml
/dist
/local-repository/*
!/local-repository/.gitignore
/lurch
/manual/docs/.vuepress/dist
/manual/docs/.vuepress/public/manual.css
/manual/vendor
#/src/Resources/app/storefront/dist
#/src/Resources/app/storefront/src/plugins/*/dist
/src/Resources/app/storefront/src/plugins/*/node_modules
/src/Resources/app/storefront/src/plugins/*/package-lock.json
/src/Resources/public/administration/.tmp
#/src/Resources/public/administration/.vite
#/src/Resources/public/administration/assets
#/src/Resources/public/administration/css/*.css
#/src/Resources/public/administration/js/*.js
#/src/Resources/public/administration/js/*.js.map
#/src/Resources/public/static/css/*.css.map
#/src/Resources/public/static/img/plugin.png
#/src/Resources/public/static/js/*.js.map
#/src/Resources/public/static/js/*.js.LICENSE.txt
/src/Resources/store/backup
/src/Resources/store/de.md
/src/Resources/store/en.md
/templates*
/var
/vendor
