stages:
  - setup
  - test

cache:
  key: "$CI_JOB_NAME-$CI_COMMIT_REF_SLUG"

variables:
  MYSQL_ROOT_PASSWORD: shopware
  MYSQL_ROOT_HOST: '%'
  MYSQL_DATABASE: shopware
  MYSQL_USER: shopware
  MYSQL_PASSWORD: shopware

composer:
  stage: setup
  image: "edbizarro/gitlab-ci-pipeline-php:7.3"
  script:
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --optimize-autoloader
  artifacts:
    paths:
      - vendor/
    expire_in: 1 days
    when: always
  cache:
    paths:
      - vendor/

phpstan:
  stage: test
  image: "edbizarro/gitlab-ci-pipeline-php:7.3"
  dependencies:
    - composer
  script:
    - vendor/bin/phpstan analyse -l 6 -c phpstan.neon tests src

codestyle:
  stage: test
  image: "edbizarro/gitlab-ci-pipeline-php:7.3"
  dependencies:
    - composer
  script:
    - vendor/bin/php-cs-fixer fix -v --dry-run
  cache:
    key: global
    paths:
      - .php_cs.cache

phpunit:
  image: "edbizarro/gitlab-ci-pipeline-php:7.3"
  stage: test
  services:
    - mysql:5.7
  dependencies:
    - composer
  script:
    - sudo apt-get update && sudo apt-get install default-mysql-client -y
    - git clone https://github.com/shopware/development "${CI_PROJECT_DIR}/opt/shopware"
    - mv ${CI_PROJECT_DIR}/opt /tmp/opt
    - cp -r ${CI_PROJECT_DIR} /tmp/opt/shopware/custom/plugins/${CI_PROJECT_NAME}
    - mv /tmp/opt ${CI_PROJECT_DIR}/opt
    - 'printf "const:\n    APP_ENV: \"dev\"\n    APP_URL: \"http://localhost\"\n    DB_HOST: \"mysql\"\n    DB_PORT: \"3306\"\n    DB_NAME: \"${MYSQL_DATABASE}\"\n    DB_USER: \"root\"\n    DB_PASSWORD: \"${MYSQL_ROOT_PASSWORD}\"" > "${CI_PROJECT_DIR}/opt/shopware/.psh.yaml.override"'
    - cd ${CI_PROJECT_DIR}/opt/shopware && php ${CI_PROJECT_DIR}/opt/shopware/psh.phar init
    - php ${CI_PROJECT_DIR}/opt/shopware/bin/console plugin:refresh
    - php ${CI_PROJECT_DIR}/opt/shopware/bin/console plugin:install --activate ${CI_PROJECT_NAME}
    - cd ${CI_PROJECT_DIR}/opt/shopware/custom/plugins/${CI_PROJECT_NAME} && ${CI_PROJECT_DIR}/opt/shopware/vendor/bin/phpunit
