# dependencies
/vendor
/src/apple-pay-cert/*
!/src/apple-pay-cert/.gitkeep

# unit/style/etc.
/.php_cs.cache
/.phpunit.result.cache
/var

# e2e
/cypress
/cypress.json
/package-lock.json
/node_modules
