# dependencies
/vendor
/src/apple-pay-cert/*
!/src/apple-pay-cert/.gitkeep

# shopware
/src/Resources/public/static/

# unit/style/etc.
/.php_cs.cache
/.phpunit.result.cache

# e2e
/cypress
/cypress.json
/package-lock.json
/node_modules
