includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Access to constant CUSTOMIZED_PRODUCTS_TEMPLATE_LINE_ITEM_TYPE(.*)#'
    excludes_analyse:
        - tests/Bootstrap.php
