parameters:
	ignoreErrors:
		-
			message: "#^Class Shopware\\\\Core\\\\Checkout\\\\Payment\\\\Exception\\\\AsyncPaymentProcessException constructor invoked with 3 parameters, 2 required\\.$#"
			count: 2
			path: src/PaymentHandler/AbstractKlarnaPaymentHandler.php