{% block payone_payment_payment_details %}
    <div class="payone-capture-button">
        <sw-container v-tooltip="{message: $tc('sw-order.payone-payment.capture.tooltips.impossible'), disabled: buttonEnabled}" :key="buttonEnabled">
            <sw-button :disabled="!buttonEnabled" @click="openCaptureModal">
                {{ $tc('sw-order.payone-payment.capture.buttonTitle') }}
            </sw-button>
        </sw-container>

        <sw-modal v-if="showCaptureModal" @modal-close="closeCaptureModal" :title="$tc(`sw-order.payone-payment.modal.capture.title`)" class="payone-payment-detail--capture-modal">
            <payone-order-items
                    :order="order"
                    mode="capture"
                    v-on:select-item="onSelectItem"
                    v-on:change-quantity="onChangeQuantity">
            </payone-order-items>

            <div class="payone-payment-detail--capture-modal--content">
                <sw-container columns="1fr 1fr" gap="0 32px">
                    <sw-text-field :disabled="true" :label="$tc('sw-order.payone-payment.modal.orderAmount')" :value="currencyFilter(transaction.amount.totalPrice, order.currency.shortName)"></sw-text-field>
                    <sw-text-field :disabled="true" :label="$tc('sw-order.payone-payment.modal.capture.captured')" :value="payoneCurrencyFilter(capturedAmount, order.currency.shortName)"></sw-text-field>
                    <sw-text-field :disabled="true" :label="$tc('sw-order.payone-payment.modal.remainingAmount')" :value="payoneCurrencyFilter(remainingAmount, order.currency.shortName)"></sw-text-field>
                    <sw-number-field required="required" numberType="float" :digits="order.decimal_precision" :label="$tc('sw-order.payone-payment.modal.capture.amount')"
                                     v-model="captureAmount"
                                     @input-change="(value) => captureAmount = value"
                                     :min="0"
                                     :max="maxCaptureAmount"></sw-number-field>
                </sw-container>
            </div>

            <template #modal-footer>
                <sw-button :disabled="isLoading" @click="closeCaptureModal">
                    {{ $tc('sw-order.payone-payment.modal.close') }}
                </sw-button>

                <sw-button-process :isLoading="isLoading" :processSuccess="isCaptureSuccessful" @process-finish="onCaptureFinished()" :disabled="isLoading || captureAmount <= 0 || !isItemSelected" variant="primary" @click="captureOrder">
                    {{ $tc('sw-order.payone-payment.modal.capture.submit') }}
                </sw-button-process>

                <sw-button-process :isLoading="isLoading" :processSuccess="isCaptureSuccessful" @process-finish="onCaptureFinished()" :disabled="isLoading" variant="primary" @click="captureFullOrder">
                    {{ $tc('sw-order.payone-payment.modal.capture.fullSubmit') }}
                </sw-button-process>
            </template>
        </sw-modal>
    </div>
{% endblock %}
