{% block payone_payment_payment_details %}
    <div class="payone-capture-button">
        <sw-container
            v-tooltip="{message: $t('sw-order.payone-payment.capture.tooltips.impossible'), disabled: buttonEnabled}"
            :key="buttonEnabled"
        >
            <mt-button
                :disabled="!buttonEnabled"
                @click="openCaptureModal"
                variant="secondary"
                size="default"
            >
                {{ $t('sw-order.payone-payment.capture.buttonTitle') }}
            </mt-button>
        </sw-container>

        <sw-modal
            v-if="showCaptureModal"
            @modal-close="closeCaptureModal"
            :title="$t(`sw-order.payone-payment.modal.capture.title`)"
            class="payone-payment-detail--capture-modal"
        >
            <payone-order-items
                :order="order"
                :items="items"
            ></payone-order-items>

            <div class="payone-payment-detail--capture-modal--content">
                <sw-container
                    columns="1fr 1fr"
                    gap="0 32px"
                >
                    <mt-text-field
                        :disabled="true"
                        :label="$t('sw-order.payone-payment.modal.orderAmount')"
                        :model-value="currencyFilter(transaction.amount.totalPrice, order.currency.shortName)"
                    ></mt-text-field>

                    <mt-text-field
                        :disabled="true"
                        :label="$t('sw-order.payone-payment.modal.capture.captured')"
                        :model-value="currencyFilter(capturedAmount, order.currency.shortName)"
                    ></mt-text-field>

                    <mt-text-field
                        :disabled="true"
                        :label="$t('sw-order.payone-payment.modal.remainingAmount')"
                        :model-value="currencyFilter(remainingAmount, order.currency.shortName)"
                    ></mt-text-field>

                    <mt-number-field
                        required="required"
                        numberType="float"
                        :digits="decimalPrecision"
                        :label="$t('sw-order.payone-payment.modal.capture.amount')"
                        v-model="captureAmount"
                        :min="0"
                        :max="remainingAmount"
                    ></mt-number-field>
                </sw-container>
            </div>

            <template #modal-footer>
                <mt-button
                    :disabled="isLoading"
                    @click="closeCaptureModal"
                    variant="secondary"
                >
                    {{ $t('sw-order.payone-payment.modal.close') }}
                </mt-button>

                <sw-button-process
                    :isLoading="isLoading"
                    :processSuccess="isCaptureSuccessful"
                    @process-finish="onCaptureFinished()"
                    :disabled="isLoading || captureAmount <= 0"
                    variant="primary"
                    @click="captureOrder"
                >
                    {{ $t('sw-order.payone-payment.modal.capture.submit') }}
                </sw-button-process>

                <sw-button-process
                    :isLoading="isLoading"
                    :processSuccess="isCaptureSuccessful"
                    @process-finish="onCaptureFinished()"
                    :disabled="isLoading || remainingAmount <= 0"
                    variant="primary"
                    @click="captureFullOrder"
                >
                    {{ $t('sw-order.payone-payment.modal.capture.fullSubmit') }}
                </sw-button-process>
            </template>
        </sw-modal>
    </div>
{% endblock %}