{% block payone_payment_payment_details %}
<div class="payone-capture-button">
    <sw-container v-tooltip="{message: $tc('payone-payment.capture.tooltips.impossible'), disabled: buttonEnabled}" :key="buttonEnabled">
        <sw-button :disabled="!buttonEnabled" @click="openCaptureModal">
            {{ $tc('payone-payment.capture.buttonTitle') }}
        </sw-button>
    </sw-container>

    <sw-modal v-if="showCaptureModal" @modal-close="closeCaptureModal" :title="$tc(`payone-payment.modal.capture.title`)" class="payone-payment-detail--capture-modal">
        <payone-order-items
                :order="order"
                mode="capture"
                v-on:select-item="onSelectItem"
                v-on:change-quantity="onChangeQuantity">
        </payone-order-items>

        <div class="payone-payment-detail--capture-modal--content">
            <sw-container columns="1fr 1fr" gap="0 32px">
                <sw-text-field :disabled="true" :label="$tc('payone-payment.modal.orderAmount')" :value="transaction.amount.totalPrice | currency(order.currency.shortName)"></sw-text-field>
                <sw-text-field :disabled="true" :label="$tc('payone-payment.modal.capture.captured')" :value="capturedAmount | payone_currency(order.currency.shortName, order.currency.decimalPrecision)"></sw-text-field>
                <sw-text-field :disabled="true" :label="$tc('payone-payment.modal.remainingAmount')" :value="remainingAmount | payone_currency(order.currency.shortName, order.currency.decimalPrecision)"></sw-text-field>
                <sw-number-field required="required" numberType="float" :digits="order.decimal_precision" :label="$tc('payone-payment.modal.capture.amount')"
                                 v-model="captureAmount"
                                 :min="0"
                                 :max="maxCaptureAmount"></sw-number-field>
            </sw-container>
        </div>

        <template slot="modal-footer">
            <sw-button :disabled="isLoading" @click="closeCaptureModal">
                {{ $tc('payone-payment.modal.close') }}
            </sw-button>

            <sw-button-process :isLoading="isLoading" :processSuccess="isCaptureSuccessful" @process-finish="onCaptureFinished()" :disabled="isLoading || captureAmount <= 0" variant="primary" @click="captureOrder">
                {{ $tc('payone-payment.modal.capture.submit') }}
            </sw-button-process>

            <sw-button-process :isLoading="isLoading" :processSuccess="isCaptureSuccessful" @process-finish="onCaptureFinished()" :disabled="isLoading" variant="primary" @click="captureFullOrder">
                {{ $tc('payone-payment.modal.capture.fullSubmit') }}
            </sw-button-process>
        </template>
    </sw-modal>
</div>
{% endblock %}
