{% sw_extends '@Storefront/storefront/page/account/order/index.html.twig' %}

{# shopware-block: 38103671b0c8d761e93ce98241c9f2826046e465488e40a6e87637259120e2bb@v6.6.10.5 #}
{% block page_checkout_confirm_form_submit %}
    {% if constant('PayonePayment\\Provider\\ApplePay\\PaymentMethod\\StandardPaymentMethod::UUID') == context.paymentMethod.id %}
        {% sw_include '@Storefront/storefront/component/checkout/apple-pay-button.html.twig' with {'amount': page.order.amountTotal } %}

        <button id="confirmFormSubmit"
                class="submit--hidden d-none"
                form="confirmOrderForm"
                type="submit">
        </button>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{# shopware-block: c734ae41a141423611bde7a745f7444baa9c34ccd9c75b23837e914151c7723f@v6.6.10.5 #}
{% block page_checkout_confirm_payment %}
    {{ parent() }}

    {% sw_include '@Storefront/storefront/page/checkout/confirm/field/work_order.html.twig' %}
    {% sw_include '@Storefront/storefront/page/checkout/confirm/field/cart_hash.html.twig' %}
    {% sw_include '@Storefront/storefront/page/checkout/confirm/field/payment_method.html.twig' %}
{% endblock %}
