$payone-input-gutter: 1.9rem;
$payone-logo-gutter: 1rem;

.payone-payment {
    .card {
        margin-bottom: 1.5rem;
    }
}

.payone-payment.credit-card {
    .alert {
        margin: 0;
        padding: 5px;
    }

    .hide {
        display: none;
    }

    .form-control.iframe {
        padding: 0;
        border: 0;
        height: calc(5em - #{$payone-input-gutter});
    }

    .card-logo-container {
        padding-left: 10px;
    }
    #card-logo {
        display: block;
        height: calc(4em - #{$payone-logo-gutter});
        border: 1px solid transparent;
        margin: 0 auto;
    }
}

.payone-debit-mandate-modal {
    .modal-body {
        padding: 0;
    }
}

.payone-payment.payolution-invoicing {
    .consent-label {
        a {
            color: red;
        }
    }
}

.payone-payment.payolution-installment {
    .consent-label {
        a {
            color: red;
        }
    }

    .disabled {
        opacity: 0.5;
    }

    .hidden {
        opacity: 0;
    }

    .headline {
        color: #3f4c58;
        font-size: 0.9rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}