<div class="payone-payment debit">
    <div class="card">
        <fieldset>
            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="form-label" for="cardpanInput">{{ "PayonePayment.debit.accountOwner" | trans }}</label>
                    <input class="form-control payone-input" name="accountOwner" form="confirmOrderForm" />
                </div>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="form-label" for="cardpanInput">{{ "PayonePayment.debit.iban" | trans }}</label>
                    <input class="form-control payone-input" name="iban" form="confirmOrderForm" />
                </div>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="form-label" for="cardpanInput">{{ "PayonePayment.debit.bic" | trans }}</label>
                    <input class="form-control payone-input" name="bic" form="confirmOrderForm" />
                </div>
            </div>
        </fieldset>
    </div>
</div>

