<div class="payone-payment ratepay-invoicing">
    {% block page_checkout_confirm_payone_card_title_ratepay_invoice_card %}
        <div class="card-title">
            {{ "PayonePayment.checkoutConfirmPage.defaultCardTitle" | trans }}
        </div>
    {% endblock %}

    {% block page_checkout_confirm_payone_card_content_ratepay_invoice_card %}
        {% set customerCustomFields = context.customer.customFields %}

        <div class="card">
            <fieldset>
                {% sw_include '@PayonePayment/storefront/payone/birthday-input.html.twig' %}
                {% sw_include '@PayonePayment/storefront/payone/phone-number-input.html.twig' %}
            </fieldset>

            <div class="col-md-12">
                <p>
                    {{ "PayonePayment.ratepay.general.consentText" |trans|raw }}
                </p>
            </div>
        </div>
    {% endblock %}
</div>
