<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <card>
        <title>Basic configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field>
            <name>merchantId</name>
            <copyable>true</copyable>
            <label>Merchant ID</label>
        </input-field>

        <input-field>
            <name>accountId</name>
            <copyable>true</copyable>
            <label>Account ID</label>
        </input-field>

        <input-field>
            <name>portalId</name>
            <copyable>true</copyable>
            <label>Portal ID</label>
        </input-field>

        <input-field>
            <name>portalKey</name>
            <copyable>true</copyable>
            <label>Key</label>
        </input-field>

        <input-field type="single-select">
            <name>transactionMode</name>
            <label>Live or Testmode</label>
            <label lang="de-DE">Live- / Testbetrieb</label>
            <options>
                <option>
                    <id>test</id>
                    <name>Test mode</name>
                    <name lang="de-DE">Test Modus</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live mode</name>
                    <name lang="de-DE">Live Modus</name>
                </option>
            </options>
        </input-field>
    </card>
</config>