<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field>
            <name>merchantId</name>
            <label>Merchant ID</label>
        </input-field>

        <input-field>
            <name>accountId</name>
            <label>Account ID</label>
        </input-field>

        <input-field>
            <name>portalId</name>
            <label>Portal ID</label>
        </input-field>

        <input-field>
            <name>portalKey</name>
            <label>Key</label>
        </input-field>

        <input-field type="single-select">
            <name>transactionMode</name>
            <label>Live or Testmode</label>
            <label lang="de-DE">Live- / Testbetrieb</label>
            <options>
                <option>
                    <id>test</id>
                    <name>Test mode</name>
                    <name lang="de-DE">Test Modus</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live mode</name>
                    <name lang="de-DE">Live Modus</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>Status Mapping</title>
        <title lang="de-DE">Statusmapping</title>

        <input-field type="single-select">
            <name>paymentStatusAppointed</name>
            <label>Status for Appointed</label>
            <label lang="de-DE">Status für Appointed</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusCapture</name>
            <label>Status for Capture</label>
            <label lang="de-DE">Status für Capture</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusPaid</name>
            <label>Status for Paid</label>
            <label lang="de-DE">Status für Paid</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusUnderpaid</name>
            <label>Status for Underpaid</label>
            <label lang="de-DE">Status für Underpaid</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusCancelation</name>
            <label>Status for Cancelation</label>
            <label lang="de-DE">Status für Cancelation</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusRefund</name>
            <label>Status for Refund</label>
            <label lang="de-DE">Status für Refund</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusDebit</name>
            <label>Status for Debit</label>
            <label lang="de-DE">Status für Debit</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusReminder</name>
            <label>Status for Reminder</label>
            <label lang="de-DE">Status für Reminder</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusVauthorization</name>
            <label>Status for VAuthorization</label>
            <label lang="de-DE">Status für VAuthorization</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusVsettlement</name>
            <label>Status for VSettlement</label>
            <label lang="de-DE">Status für VSettlement</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusTransfer</name>
            <label>Status for Transfer</label>
            <label lang="de-DE">Status für Transfer</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusInvoice</name>
            <label>Status for Invoice</label>
            <label lang="de-DE">Status für Invoice</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusFailed</name>
            <label>Status for Failed</label>
            <label lang="de-DE">Status für Failed</label>
        </input-field>
    </card>

    <card>
        <title>Credit Card</title>
        <title lang="de-DE">Kreditkarte</title>

        <input-field>
            <name>creditCardMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>creditCardAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>creditCardPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>creditCardPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>PayPal</title>

        <input-field>
            <name>paypalMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>PayPal Express</title>

        <input-field>
            <name>paypalExpressMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalExpressAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalExpressPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalExpressPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>Debit</title>
        <title lang="de-DE">Lastschrift</title>

        <input-field>
            <name>debitMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>debitAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>debitPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>debitPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>SOFORT</title>

        <input-field>
            <name>sofortMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>sofortAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>sofortPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>sofortPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>Payolution Installment</title>

        <input-field>
            <name>payolutionInstallmentMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentCompanyName</name>
            <label>Company Name</label>
            <label lang="de-DE">Firmenname</label>
            <helpText>Is displayed in the supplementary notes to the privacy statement for purchase on account.</helpText>
            <helpText lang="de-DE">Wird in den ergänzenden Hinweisen zur Datenschutzerklärung für Kauf auf Rechnung angezeigt.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentChannelName</name>
            <label>Channel Name</label>
            <label lang="de-DE">Channel Name</label>
            <helpText>Username for the URL to the EU Standard Credit Information hosted by Payolution.</helpText>
            <helpText lang="de-DE">Benutzername für die URL zu den EU-Standard-Kreditinformationen, die von Payolution gehostet werden.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentChannelPassword</name>
            <label>Channel Password</label>
            <label lang="de-DE">Channel Passwort</label>
            <helpText>Password for the url to the EU Standard Credit Information hosted by Payolution.</helpText>
            <helpText lang="de-DE">Passwort für die url zu den EU-Standard-Kreditinformationen, die von Payolution gehostet werden.</helpText>
        </input-field>
    </card>

    <card>
        <title>Payolution Invoicing</title>

        <input-field>
            <name>payolutionInvoicingMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingCompanyName</name>
            <label>Company Name</label>
            <label lang="de-DE">Firmenname</label>
            <helpText>Is displayed in the supplementary notes to the privacy statement for purchase on account.</helpText>
            <helpText lang="de-DE">Wird in den ergänzenden Hinweisen zur Datenschutzerklärung für Kauf auf Rechnung angezeigt.</helpText>
        </input-field>
    </card>
</config>
