<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic configuration</title>
        <title lang="de-DE">Grundeinstellungen</title>

        <input-field>
            <name>merchantId</name>
            <label>Merchant ID</label>
        </input-field>

        <input-field>
            <name>accountId</name>
            <label>Account ID</label>
        </input-field>

        <input-field>
            <name>portalId</name>
            <label>Portal ID</label>
        </input-field>

        <input-field>
            <name>portalKey</name>
            <label>Key</label>
        </input-field>

        <input-field type="single-select">
            <name>transactionMode</name>
            <label>Live or Testmode</label>
            <label lang="de-DE">Live- / Testbetrieb</label>
            <options>
                <option>
                    <id>test</id>
                    <name>Test mode</name>
                    <name lang="de-DE">Test Modus</name>
                </option>
                <option>
                    <id>live</id>
                    <name>Live mode</name>
                    <name lang="de-DE">Live Modus</name>
                </option>
            </options>
        </input-field>
    </card>

    <card>
        <title>Status Mapping</title>
        <title lang="de-DE">Statusmapping</title>

        <input-field type="single-select">
            <name>paymentStatusAppointed</name>
            <label>Transition for Appointed</label>
            <label lang="de-DE">Statuswechsel für Bestellt</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusCapture</name>
            <label>Transition for Capture</label>
            <label lang="de-DE">Statuswechsel für Erfasst</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusPaid</name>
            <label>Transition for Paid</label>
            <label lang="de-DE">Statuswechsel für Bezahlt</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusUnderpaid</name>
            <label>Transition for Underpaid</label>
            <label lang="de-DE">Statuswechsel für Teilweise bezahlt</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusCancelation</name>
            <label>Transition for Cancelation</label>
            <label lang="de-DE">Statuswechsel für Abgebrochen</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusRefund</name>
            <label>Transition for Refund</label>
            <label lang="de-DE">Statuswechsel für Rückerstattet</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusDebit</name>
            <label>Transition for Debit</label>
            <label lang="de-DE">Statuswechsel für Abgebucht</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusReminder</name>
            <label>Transition for Reminder</label>
            <label lang="de-DE">Statuswechsel für Erinnerung</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusVauthorization</name>
            <label>Transition for VAuthorization</label>
            <label lang="de-DE">Statuswechsel für VAuthorization</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusVsettlement</name>
            <label>Transition for VSettlement</label>
            <label lang="de-DE">Statuswechsel für VSettlement</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusTransfer</name>
            <label>Transition for Transfer</label>
            <label lang="de-DE">Statuswechsel für Übetragen</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusInvoice</name>
            <label>Transition for Invoice</label>
            <label lang="de-DE">Statuswechsel für Rechnung</label>
        </input-field>

        <input-field type="single-select">
            <name>paymentStatusFailed</name>
            <label>Transition for Failed</label>
            <label lang="de-DE">Statuswechsel für Fehlgeschlagen</label>
        </input-field>
    </card>

    <card>
        <title>Credit Card</title>
        <title lang="de-DE">Kreditkarte</title>

        <input-field>
            <name>creditCardMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>creditCardAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>creditCardPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>creditCardPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>PayPal</title>

        <input-field>
            <name>paypalMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>PayPal Express</title>

        <input-field>
            <name>paypalExpressMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalExpressAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalExpressPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>paypalExpressPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>Debit</title>
        <title lang="de-DE">Lastschrift</title>

        <input-field>
            <name>debitMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>debitAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>debitPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>debitPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>SOFORT</title>

        <input-field>
            <name>sofortMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>sofortAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>sofortPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>sofortPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>
    </card>

    <card>
        <title>Payolution Installment</title>

        <input-field>
            <name>payolutionInstallmentMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentCompanyName</name>
            <label>Company Name</label>
            <label lang="de-DE">Firmenname</label>
            <helpText>Is displayed in the supplementary notes to the privacy statement for purchase on account.</helpText>
            <helpText lang="de-DE">Wird in den ergänzenden Hinweisen zur Datenschutzerklärung für Kauf auf Rechnung angezeigt.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentChannelName</name>
            <label>Channel Name</label>
            <label lang="de-DE">Channel Name</label>
            <helpText>Username for the URL to the EU Standard Credit Information hosted by Payolution.</helpText>
            <helpText lang="de-DE">Benutzername für die URL zu den EU-Standard-Kreditinformationen, die von Payolution gehostet werden.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInstallmentChannelPassword</name>
            <label>Channel Password</label>
            <label lang="de-DE">Channel Passwort</label>
            <helpText>Password for the url to the EU Standard Credit Information hosted by Payolution.</helpText>
            <helpText lang="de-DE">Passwort für die url zu den EU-Standard-Kreditinformationen, die von Payolution gehostet werden.</helpText>
        </input-field>
    </card>

    <card>
        <title>Payolution Invoicing</title>

        <input-field>
            <name>payolutionInvoicingMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingCompanyName</name>
            <label>Company Name</label>
            <label lang="de-DE">Firmenname</label>
            <helpText>Is displayed in the supplementary notes to the privacy statement for purchase on account.</helpText>
            <helpText lang="de-DE">Wird in den ergänzenden Hinweisen zur Datenschutzerklärung für Kauf auf Rechnung angezeigt.</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingIban</name>
            <label>IBAN</label>
            <label lang="de-DE">IBAN</label>
            <helpText>IBAN which is displayed on the invoice next to the payment reference.</helpText>
            <helpText lang="de-DE">IBAN welche auf der Rechnung neben der Zahlungsreferenz angezeigt wird</helpText>
        </input-field>

        <input-field>
            <name>payolutionInvoicingBic</name>
            <label>BIC</label>
            <label lang="de-DE">BIC</label>
            <helpText>BIC which is displayed on the invoice next to the payment reference.</helpText>
            <helpText lang="de-DE">BIC welche auf der Rechnung neben der Zahlungsreferenz angezeigt wird.</helpText>
        </input-field>

        <input-field type="bool">
            <name>payolutionInvoicingTransferCompanyData</name>
            <label>Sets the b2b flag if the customer's company name is present.</label>
            <label lang="de-DE">Setzt das b2b-Flag, wenn beim Kunden der Firmennamen gesetzt ist.</label>
        </input-field>
    </card>

    <card>
        <title>Payolution Debit</title>

        <input-field>
            <name>payolutionDebitCompanyName</name>
            <label>Company Name</label>
            <label lang="de-DE">Firmenname</label>
            <helpText>Is displayed in the supplementary notes to the privacy statement for purchase on account.</helpText>
            <helpText lang="de-DE">Wird in den ergänzenden Hinweisen zur Datenschutzerklärung für Kauf auf Rechnung angezeigt.</helpText>
        </input-field>

        <input-field>
            <name>payolutionDebitMerchantId</name>
            <label>Merchant ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionDebitAccountId</name>
            <label>Account ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionDebitPortalId</name>
            <label>Portal ID</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field>
            <name>payolutionDebitPortalKey</name>
            <label>Key</label>
            <helpText>Uses the basic configuration value if nothing is entered here.</helpText>
            <helpText lang="de-DE">Nutzt den Wert der Grundeinstellungen, falls nichts eingetragen wird.</helpText>
        </input-field>

        <input-field type="bool">
            <name>payolutionDebitTransferCompanyData</name>
            <label>Sets the b2b flag if the customer's company name is present.</label>
            <label lang="de-DE">Setzt das b2b-Flag, wenn beim Kunden der Firmennamen gesetzt ist.</label>
        </input-field>
    </card>
</config>
