{% block payone_ratepay_profiles %}
    <div class="payone-ratepay-profiles">
        {% block payone_ratepay_shop_ids %}
            <h3>{{ $tc('payone-payment.general.headlines.ratepayProfiles') }}</h3>
            <sw-container slot="grid" type="row" class="">

                {% block payone_ratepay_shop_ids_actions %}
                    <sw-container class="sw-card__toolbar"
                                  columns="1fr">

                        {% block payone_ratepay_shop_ids_create_actions %}
                            <div align="right">
                                <sw-button class=""
                                           size="small"
                                           @click="createNewLineItem">
                                    {{ $tc('payone-payment.general.actions.addShop') }}
                                </sw-button>
                            </div>
                        {% endblock %}
                    </sw-container>
                {% endblock %}

                {% block payone_ratepay_shop_ids_grid %}
                    <sw-data-grid v-if="value"
                                  ref="shopIdsDataGrid"
                                  :dataSource="profiles"
                                  :columns="getLineItemColumns"
                                  :fullPage="false"
                                  :showSettings="false"
                                  :showSelection="false"
                                  :showActions="true"
                                  :allowColumnEdit="false"
                                  :allowInlineEdit="true"
                                  :compactMode="true"
                                  identifier="sw-order-line-item-grid"
                                  class="sw-order-line-items-grid__data-grid"
                                  @inline-edit-save="onInlineEditSave"
                                  @inline-edit-cancel="onInlineEditCancel">
                        {% block payone_ratepay_shop_ids_grid_columns %}
                            {% block payone_ratepay_shop_ids_grid_column_status %}
                                <template #column-error="{ item, column }">
                                    <sw-icon v-tooltip="{
                                                message: item.error,
                                                width: 150,
                                                position: 'bottom'
                                             }"
                                             v-if="item.error"
                                             name="default-badge-warning"
                                             color="red">
                                    </sw-icon>
                                </template>
                            {% endblock %}

                            {% block payone_ratepay_shop_ids_bulk_actions %}
                                <template slot="actions" slot-scope="{ item }">
                                    {% block sw_settings_units_content_grid_column_menu_delete %}
                                        <sw-context-menu-item @click="onDeleteSelectedItem(item)" variant="danger">
                                            {{ $tc('global.default.delete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>
                            {% endblock %}
                        {% endblock %}
                    </sw-data-grid>
                {% endblock %}

                {% block payone_ratepay_shop_ids_error %}
                    <sw-alert v-if="showAlert" variant="error">
                        {{ $tc('payone-payment.general.errors.existingShopId') }}
                    </sw-alert>
                {% endblock %}
        </sw-container>
        {% endblock %}
    </div>
{% endblock %}
