{% block payone_ratepay_profile_configurations %}
    <div class="payone-ratepay-profile-configurations">

        <template v-for="profileConfiguration in profileConfigurations">
            <p>{{ profileConfiguration }}</p>
        </template>
    </div>
{% endblock %}
