.payone-ratepay-profile-configurations {
    .payone-ratepay-profile-configuration--headline {
        font-weight: 600;
        margin-top: 20px;
    }

    .sw-description-list {
        dt {
            text-align: right;
        }
    }
}
