.payone-ratepay-profile-configurations {
    margin-top: 20px;

    .payone-ratepay-profile-configuration--headline {
        font-weight: 600;
    }

    .sw-description-list {
        dt {
            text-align: right;
        }
    }
}
