{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_aside_actions %}
    {{ parent() }}

    {% if not context.customer %}
        {% if constant('PayonePayment\\PaymentMethod\\PayonePaypalExpress::UUID') in activePaymentPaymentMethods %}
            {% block page_checkout_payone_paypal_express_button %}
                <div class="checkout-aside-action">
                    <a href="{{ path('frontend.account.payone.paypal.express-checkout') }}" title="{{ "PayonePayment.paypalExpress.buttonTitle" | trans }}" class="btn btn-block btn-primary">
                        {{ "PayonePayment.paypalExpress.buttonTitle" | trans }}
                    </a>
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}
