{% sw_extends '@Storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_aside_actions %}
    {{ parent() }}

    <div class="checkout-aside-action">
        payone express button
    </div>
{% endblock %}
