{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{# shopware-block: 2a1e9e71610135ce64093d45612f65146e4e56233ffaeedaa804b2a11cbdead8@v6.6.10.5 #}
{% block page_checkout_aside_actions %}
    {{ parent() }}

    {% if not context.customer %}
        {% if constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressPaymentMethod::UUID') in activePayonePaymentMethodIds %}
            {% block page_checkout_payone_paypal_express_button %}
                <div class="checkout-aside-action">
                    <a href="{{ path('frontend.account.payone.express-checkout.generic.redirect', { paymentMethodId: constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressPaymentMethod::UUID') }) }}" title="{{ "PayonePayment.paypalExpress.buttonTitle" | trans }}" class="btn btn-block btn-primary">
                        {{ "PayonePayment.paypalExpress.buttonTitle" | trans }}
                    </a>
                </div>
            {% endblock %}
        {% endif %}

        {% if constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressV2PaymentMethod::UUID') in activePayonePaymentMethodIds %}
            {% block page_checkout_payone_paypal_v2_express_button %}
                <div class="checkout-aside-action">
                    {% sw_include '@PayonePayment/storefront/component/checkout/paypal-v2-button.html.twig' %}
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}

    {% block page_checkout_payone_amazonpay_express_button %}
        {% if page.extensions.payoneAmazonPayExpressButton %}
            {% sw_include '@PayonePayment/storefront/payone/amazon-pay/amazon-pay-express-button.html.twig' with {
                location: 'cart',
                buttonConfiguration: page.extensions.payoneAmazonPayExpressButton
            } %}
        {% endif %}
    {% endblock %}

    {% block utilities_checkout_payone_google_pay_button %}
        {% if page.extensions.payoneGooglePayButton %}
            {% sw_include '@PayonePayment/storefront/payone/google-pay/google-pay-button.html.twig' with {
                location: 'cart',
                buttonConfiguration: page.extensions.payoneGooglePayButton
            } %}
        {% endif %}
    {% endblock %}
{% endblock %}

