{% sw_extends '@Storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm %}
    {{ parent() }}

    {% if constant('PayonePayment\\PaymentMethod\\PayoneCreditCard::UUID') is same as(context.paymentMethod.id) %}
        <div class="card" data-is-payone-credit-card="true" data-payone-language="{{ page.extensions.payone.language | raw }}" data-payone-request="{{ page.extensions.payone.cardRequest | json_encode | raw }}">
            <div class="card-title">
                Payment Data
            </div>

            <div class="card-body">
                {% sw_include '@Storefront/payone/form/credit-card-form.html.twig' %}
            </div>
        </div>
    {% endif %}

    {% if constant('PayonePayment\\PaymentMethod\\PayoneDebit::UUID') is same as(context.paymentMethod.id) %}
        <div class="card" data-is-payone-debit="true" data-payone-language="{{ page.extensions.payone.language | json_encode | raw }}">
            <div class="card-title">
                Payment Data
            </div>

            <div class="card-body">
                {% sw_include '@Storefront/payone/form/debit-form.html.twig' %}
            </div>
        </div>
    {% endif %}
{% endblock %}
