{% block page_checkout_confirm_payone_card_title %}
    <div class="card-title">
        {{ "PayonePayment.checkoutConfirmPage.cardTitle" | trans }}
    </div>
{% endblock %}

{% block page_checkout_confirm_payone_card_content %}
    <div class="card">
        {% set template = '@Storefront/payone/form/' ~ page.extensions.payone.template %}

        <div class="card-body">
            {% if constant('PayonePayment\\PaymentMethod\\PayoneCreditCard::UUID') is same as(context.paymentMethod.id) %}
                <div data-is-payone-credit-card="true">
                    <script type="application/json" id="payone-request" data-payone-language="{{ page.extensions.payone.language | raw }}">
                        {{ page.extensions.payone.cardRequest | json_encode | raw }}
                    </script>
                </div>
            {% elseif constant('PayonePayment\\PaymentMethod\\PayoneDebit::UUID') is same as(context.paymentMethod.id) %}
                <div data-is-payone-debit-card="true" id="payone-configuration" data-manage-mandate-url="{{ path('frontend.payone.manage-mandate') }}"></div>
            {% endif %}

            {% sw_include template %}
        </div>
    </div>
{% endblock %}