includes:
    - ../../../../vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 5
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Access to constant CUSTOMIZED_PRODUCTS_TEMPLATE_LINE_ITEM_TYPE(.*)#'
        - '#Shopware\\Core\\Framework\\DataAbstractionLayer\\Field\\Flag\\ApiAware given#'
    excludes_analyse:
        - tests/*
