{% block payone_payment %}
    <sw-page class="payone-payment">
        {% block payone_payment_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('payone-payment.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block payone_payment_actions %}
            <template #smart-bar-actions>
                {% block payone_payment_actions_test %}
                    <sw-button @click="onTest"
                               :disabled="!merchantIdFilled || !accountIdFilled || !portalIdFilled || !portalKeyFilled">
                        {{ $tc('payone-payment.settingForm.test') }}
                    </sw-button>
                {% endblock %}

                {% block payone_payment_actions_save %}
                    <sw-button-process
                            class="sw-settings-login-registration__save-action"
                            :isLoading="isLoading"
                            :processSuccess="isSaveSuccessful"
                            :disabled="isLoading"
                            variant="primary"
                            @process-finish="saveFinish"
                            @click="onSave">
                        {{ $tc('payone-payment.settingForm.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block payone_payment_content %}
            <template #content>
                <sw-card-view>
                    <sw-system-config
                            ref="systemConfig"
                            salesChannelSwitchable
                            inherit
                            @config-changed="onConfigChange"
                            domain="PayonePayment.settings">
                        <template #card-element="{ element, config }">
                            <sw-form-field-renderer v-bind="getBind(element, config)"
                                                    v-model="config[element.name]">
                            </sw-form-field-renderer>
                        </template>
                    </sw-system-config>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
