<div class="payone-payment debit">
    <div class="card">
        <fieldset>
            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="form-label" for="accountOwner">{{ "PayonePayment.debit.accountOwner" | trans }}</label>
                    <input class="form-control payone-input" id="accountOwner" name="accountOwner" form="confirmOrderForm" />
                </div>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="form-label" for="iban">{{ "PayonePayment.debit.iban" | trans }}</label>
                    <input class="form-control payone-input" id="iban" name="iban" form="confirmOrderForm" />
                </div>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="form-label" for="bic">{{ "PayonePayment.debit.bic" | trans }}</label>
                    <input class="form-control payone-input" id="bic" name="bic" form="confirmOrderForm" />
                </div>
            </div>

            <div class="form-row col-md-12">
                <div class="form-group col-md-12" >
                    <div id="errorOutput" class="alert alert-warning" role="alert" style="display: none;"></div>
                </div>
            </div>
        </fieldset>
    </div>
</div>

