<div class="payone-payment debit">
    {% block page_checkout_confirm_payone_card_title_paysafe_installment %}
        <div class="card-title">
            {{ "PayonePayment.checkoutConfirmPage.paysafeInstallmentTitle" | trans }}
        </div>
    {% endblock %}

    {% block page_checkout_confirm_payone_card_content_paysafe_installment %}
        <div class="card">
            test
        </div>

        <div data-is-payone-paysafe-installment="true"></div>
    {% endblock %}
</div>
