{% sw_extends '@Storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions %}
    {{ parent() }}

    {% if not context.customer %}
        {% if constant('PayonePayment\\PaymentMethod\\PayonePaypalExpress::UUID') in activePaymentPaymentMethods %}
            <div>
                <a href="{{ path('frontend.account.payone.express-checkout') }}" title="{{ "PayonePayment.paypalExpress.buttonTitle" | trans }}" class="btn btn-light">
                    {{ "PayonePayment.paypalExpress.buttonTitle" | trans }}
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
