{% sw_extends '@Storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions %}
    {{ parent() }}

    {% if not context.customer %}
        {% if constant('PayonePayment\\PaymentMethod\\PayonePaypalExpress::UUID') in activePaymentPaymentMethods %}
            {% block utilities_offcanvas_payone_paypal_express_button %}
                <div>
                    <a href="{{ path('frontend.account.payone.paypal.express-checkout') }}" title="{{ "PayonePayment.paypalExpress.buttonTitle" | trans }}" class="btn btn-block btn-primary">
                        {{ "PayonePayment.paypalExpress.buttonTitle" | trans }}
                    </a>
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}
