{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions %}
    {{ parent() }}

    {% if not context.customer %}
        {% if constant('PayonePayment\\PaymentMethod\\PayonePaypalExpress::UUID') in activePaymentPaymentMethods %}
            {% block utilities_offcanvas_payone_paypal_express_button %}
                <div class="text-center mt-3">
                    {% sw_include '@PayonePayment/storefront/component/checkout/paypal-button.html.twig' %}
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}
