{% sw_extends '@Storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions %}
    {{ parent() }}

    <div>
        payone express button
    </div>
{% endblock %}
