{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{# shopware-block: 36bc4eae7091cc165cd72dd918ddb6fa1345e40f03acc2fbe8317a898f0c5371@v6.6.10.5 #}
{% block component_offcanvas_cart_actions %}
    {{ parent() }}

    {% if not context.customer and page.cart.price.totalPrice > 0 %}
        {% if constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressPaymentMethod::UUID') in activePayonePaymentMethodIds and constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressV2PaymentMethod::UUID') not in activePayonePaymentMethodIds %}
            {% block utilities_offcanvas_payone_paypal_express_button %}
                <div class="text-center mt-3">
                    {% sw_include '@PayonePayment/storefront/component/checkout/paypal-button.html.twig' %}
                </div>
            {% endblock %}
        {% endif %}

        {% if constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressV2PaymentMethod::UUID') in activePayonePaymentMethodIds %}
            {% block utilities_offcanvas_payone_paypal_v2_express_button %}
                <div class="text-center mt-3">
                    {% sw_include '@PayonePayment/storefront/component/checkout/paypal-v2-button.html.twig' %}
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}

    {% if page.extensions.payoneAmazonPayExpressButton %}
        {% block utilities_offcanvas_payone_amazonpay_express_button %}
            {% sw_include '@PayonePayment/storefront/payone/amazon-pay/amazon-pay-express-button.html.twig' with {
                location: 'offcanvas',
                buttonConfiguration: page.extensions.payoneAmazonPayExpressButton
            } %}
        {% endblock %}
    {% endif %}

    {% if page.extensions.payoneGooglePayButton %}
        {% block utilities_offcanvas_payone_google_pay_button %}
            {% sw_include '@PayonePayment/storefront/payone/google-pay/google-pay-button.html.twig' with {
                location: 'offcanvas',
                buttonConfiguration: page.extensions.payoneGooglePayButton
            } %}
        {% endblock %}
    {% endif %}
{% endblock %}
