{% block sw_order_detail_delivery_metadata %}
    {% parent %}

    <template v-if="!isLoading" :isLoading="isLoading">
        <template v-if="hasPayonePayment(order)">
            <sw-card class="sw-order-payone-card" :title="$tc('payone-payment.title')">
                <template v-for="transaction in order.transactions">
                    <template v-if="isPayonePayment(transaction)">
                        <sw-container columns="1fr 1fr">
                            <sw-container>
                                <sw-description-list>
                                    <dt>{{ $tc('payone-payment.txid') }}</dt>
                                    <dd class="sw-order-base__label-sales-channel">{{ transaction.customFields.payone_transaction_id }}</dd>

                                    <dt>{{ $tc('payone-payment.sequenceNumber.label') }}</dt>
                                    <dd class="sw-order-base__label-sales-channel">
                                        <span v-if="transaction.customFields.payone_sequence_number == -1">
                                            {{ $tc('payone-payment.sequenceNumber.empty') }}
                                        </span>
                                        <span v-else>
                                            {{ transaction.customFields.payone_sequence_number }}
                                        </span>
                                    </dd>

                                    <dt>{{ $tc('payone-payment.transactionState') }}</dt>
                                    <dd class="sw-order-base__label-sales-channel">{{ transaction.customFields.payone_transaction_state }}</dd>
                                </sw-description-list>
                            </sw-container>

                            <sw-container gap="30px">
                                <payone-capture-button :order="order" v-on:reload="reloadEntityData"></payone-capture-button>
                                <payone-refund-button :order="order" v-on:reload="reloadEntityData"></payone-refund-button>
                            </sw-container>
                        </sw-container>
                    </template>
                </template>
            </sw-card>
        </template>
    </template>
{% endblock %}
