{% sw_extends '@Storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    {{ parent() }}

    <div class="row">
        <div class="col-5 pb-2">
            payone express button
        </div>
    </div>
{% endblock %}
