{% sw_extends '@Storefront/page/checkout/address/index.html.twig' %}

{% block page_checkout_address_login_toggle %}
    {{ parent() }}

    {% if not context.customer %}
        {% if constant('PayonePayment\\PaymentMethod\\PayonePaypalExpress::UUID') in activePaymentPaymentMethods %}
            {% block page_checkout_address_payone_paypal_express_button %}
                <div class="row">
                    <div class="col-5 pb-2">
                        <a href="{{ path('frontend.account.payone.express-checkout') }}" title="{{ "PayonePayment.paypalExpress.buttonTitle" | trans }}" class="btn btn-block btn-primary">
                            {{ "PayonePayment.paypalExpress.buttonTitle" | trans }}
                        </a>
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}
