{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{# shopware-block: 0141f61df9d271e6819fc3c4fa4de66ad4f487f30e7e8dafb1f603737eb1462e@v6.6.10.5 #}
{% block page_checkout_address_login_toggle %}
    {{ parent() }}

    {% if not context.customer and page.cart.price.totalPrice > 0 %}
        {% if constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressPaymentMethod::UUID') in activePayonePaymentMethodIds and constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressV2PaymentMethod::UUID') not in activePayonePaymentMethodIds %}
            {% block page_checkout_address_payone_paypal_express_button %}
                <div class="row">
                    <div class="col-5 pb-2">
                        {% sw_include '@PayonePayment/storefront/component/checkout/paypal-button.html.twig' %}
                    </div>
                </div>
            {% endblock %}
        {% endif %}

        {% if constant('PayonePayment\\Provider\\PayPal\\PaymentMethod\\ExpressV2PaymentMethod::UUID') in activePayonePaymentMethodIds %}
            {% block page_checkout_address_payone_paypal_v2_express_button %}
                <div class="row">
                    <div class="col-5 pb-2">
                        {% sw_include '@PayonePayment/storefront/component/checkout/paypal-v2-button.html.twig' %}
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}
