.payone-ratepay-profile-configuration {
    margin-top: 20px;

    &--headline {
        font-weight: 600;
        margin-top: 20px;
    }

    &--items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 1rem;
    }

    .sw-description-list {
        dt {
            text-align: right;
        }
    }
}
