const {defineConfig} = require('cypress')
const tasks=  require('./cypress/support/tasks') ;

module.exports = defineConfig({
    chromeWebSecurity: false,
    experimentalModifyObstructiveThirdPartyCode: true,
    e2e: {
        baseUrl: 'https://localhost:8080',
        experimentalRunAllSpecs: true,
        setupNodeEvents(on, config) {
            on('task', tasks)
        },
    },
    env: {
        username: 'admin',
        password: 'admin123',
        apiPath: "api",
        admin: "/admin",
        locale: "en-GB",
        salesChannelName: "Storefront",

        paypalMail: 'test-buyer@localhost.local',
        paypalPassword: '123456',

        paymentMethodSecuredPortalId: '12345456',
        paymentMethodSecuredPortalKey: 'abcdefgh',

        paymentMethodAmazonPayMerchantId: 'AIJXXXXXX',
    }
})

