{% set customerCustomFields = context.customer.customFields %}

{% if showAlways or (customerCustomFields is null or customerCustomFields['payone_customer_phone_number'] is not defined or customerCustomFields['payone_customer_phone_number'] is empty) %}
    <div class="row">
        <div class="col-md-12">
            <label class="form-label" for="payonePhone">{{ "PayonePayment.general.phoneNumber.label" | trans }}{% if not billingAddress.phoneNumber %}{{ "general.required"|trans|sw_sanitize }}{% endif %}</label>
            <input class="form-control payone-input"
                   id="payonePhone"
                   name="payonePhone"
                   type="tel"
                   form="confirmOrderForm"
                   value="{{ customerCustomFields ? customerCustomFields['payone_customer_phone_number'] : '' }}"
                   required="required"/>
        </div>
    </div>
{% endif %}
