<div class="row">
    <div class="col-md-12">
        <label class="form-label" for="payonePhone">{{ "PayonePayment.general.phoneNumber.label" | trans }}{{ "general.required"|trans|sw_sanitize }}</label>
        <input class="form-control payone-input"
               id="payonePhone"
               name="payonePhone"
               type="tel"
               form="confirmOrderForm"
               value="{{ context.customer.activeBillingAddress.phoneNumber }}"
               required="required"/>
    </div>
</div>
