name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  ci-current:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 15
      fail-fast: false
      matrix:
        php-versions: [ '8.1' ]
        mysql-versions: [ '5.7', '8.0' ]
        shopware-versions: [ 'v6.5.0.0' ]
    name: Shopware ${{ matrix.shopware-versions }} on PHP ${{ matrix.php-versions }}
    services:
      mysql:
        image: mysql:${{ matrix.mysql-versions }}
        env:
          MYSQL_DATABASE: shopware
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Install PHP
        uses: shivammathur/setup-php@master
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: mbstring, xdebug, curl, dom, fileinfo, gd, iconv, intl, json, xml, mbstring, pdo, phar, zip, sodium
          tools: composer:2.1.5
      - name: Check PHP Version
        run: php -v
      - name: Check Composer Version
        run: composer -V
      - name: Check PHP Extensions
        run: php -m
      - name: Composer setup
        run: composer install --prefer-dist --no-ansi --no-interaction --no-progress --optimize-autoloader
      - name: Codestyle
        run: composer ecs
      - name: SW-Install
        run: |
          composer create-project shopware/production:${{ matrix.shopware-versions }} /tmp/shopware
          cd /tmp/shopware
          printf "APP_ENV=dev\nAPP_URL=http://localhost\nDATABASE_URL=mysql://root:root@127.0.0.1:3306/shopware" > /tmp/shopware/.env.local
          php bin/console system:install --basic-setup
      - name: Install plugin
        run: |
          mkdir -p /tmp/shopware/custom/plugins/PayonePayment
          cp -r * /tmp/shopware/custom/plugins/PayonePayment
          cd /tmp/shopware
          php bin/console plugin:refresh
          php bin/console plugin:install --activate PayonePayment
      - name: Static code analyze (phpstan)
        run: PROJECT_ROOT=/tmp/shopware composer phpstan
      - name: PHPUnit
        run: |
          PROJECT_ROOT=/tmp/shopware \
            TEST_DATABASE_URL="mysql://root:root@127.0.0.1:3306/shopware" \
            /tmp/shopware/custom/plugins/PayonePayment/vendor/bin/phpunit \
            --testdox \
            --configuration /tmp/shopware/custom/plugins/PayonePayment/phpunit.xml.dist
